@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}
a,
a:hover {
  text-decoration: none;
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "raleway", sans-serif;
  margin-top: 0;
  font-weight: 700;
}
h1 {
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 650%;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  margin: 0;
  padding: 0;
  display: inline-block;
}
h2 {
  font-size: 400%;
  color: #000;
}
h3 {
  font-size: 260%;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;
}
h4 {
  font-size: 160%;
}
/* 

reusbable components

*/
.row {
  max-width: 1180px;
  margin: auto;
}

section {
  padding: 120px 0;
}
.section-title {
  text-align: center;
  margin-bottom: 60px;
}
.section-title p {
  font-size: 160%;
  color: #6f6f6f;
  margin-top: 15px;
}
.btn:link,
.btn:visited,
.btn {
  width: 203px;
  background: #ff2b4a;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 170%;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 0;
  border: 2px solid rgb(237, 100, 175);
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background: transparent;
  color: #ff2b4a;
}
/* hero */
#hero {
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6)),
    url("img/h2.jpg") no-repeat center / cover;
}
.logo {
  float: left;
  height: 40px;
  margin-top: 45px;
}
.nav-icon {
  color: #fff;
  float: right;
  margin-top: 45px;
}
.nav-icon ion-icon {
  font-size: 400%;
  border: 1px solid rgb(175, 57, 57);
}
.nav-icon:hover ion-icon {
  color: rgb(203, 90, 211);
}
nav.uk-sticky-fixed {
  background: rgb(0, 0, 0, 0.9);
}
nav.uk-sticky-fixed .logo,
nav.uk-sticky-fixed .nav-icon {
  margin: 15px;
}
.hero-text-box {
  width: 1180px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: ;
}
h1::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
}
h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
  margin-top: 10px;
}
.hero-text-box span {
  font-size: 220%;
  color: #fff;
  margin-top: 15px;
  display: inline-block;
}
.scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 45px;
  margin: auto;
  width: 45px;
}
.scroll-down a ion-icon {
  font-size: 400%;
  color: #fff;
  position: relative;
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}
@-webkit-keyframes arrow {
  0% {
    top: 10px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 10px;
  }
}
@keyframes arrow {
  0% {
    top: 10px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 10px;
  }
}
/* haumbrag */
.menu-container {
  width: 100%;
  height: 0;
  background: rgb(0, 0, 0, 0.9);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.close-btn ion-icon {
  position: absolute;
  top: 45px;
  right: 45px;
  color: #fff;
  font-size: 400%;
  border: 1px solid rgb(250, 245, 245, 0.2);
}
.close-btn:hover ion-icon {
  color: rgb(214, 122, 69);
  cursor: pointer;
}
.menu-item {
  text-align: center;
  position: relative;
  top: 25%;
  transform: translate (-50%, -50%);
}
.menu-item ul li {
  margin: 10px 0;
  width: 50%;
}
.menu-item ul li a {
  color: #fff;
  font-size: 300%;
  text-transform: uppercase;
}
.menu-item ul li:hover a {
  color: rgb(255, 157, 157);
  font-size: 340%;
  transition: 0.2s;
}
/* about */
.grid-about-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 60px;
}
.paul {
  width: 100%;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
.intro {
  font-size: 220%;
  color: #222;
  font-weight: 700;
}
.description {
  font-size: 200%;
  color: #222;
  margin: 30px 0;
  width: 90%;
}
/* process */
#process {
  background: #f6f6f6;
}
.grid-process-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  color: #fff;
  text-align: center;
}
.grid-process-items {
  padding: 80px 0;
}
.grid-process-items:nth-child(1) {
  background: #10c6fc;
}
.grid-process-items:nth-child(2) {
  background: #835aeb;
}
.grid-process-items:nth-child(3) {
  background: #002453;
}
.grid-process-items:nth-child(4) {
  background: #ff2b4a;
}
.grid-process-items ion-icon {
  font-size: 400%;
  margin-bottom: 15px;
}
.grid-process-items h4 {
  text-transform: uppercase;
  color: #fff;
}
/*
   portfolio 
 */

#experience {
  background: url(img/h1.jpg) no-repeat center / cover;
  color: #fff;
  background-attachment: fixed;
}
.grid-experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid-experience-items,
.grid-education-items {
  background: linear-gradient(rgba(8, 226, 19, 0.9), rgba(74, 201, 230, 0.8));
  padding: 45px 30px;
}
.job h4,
.education h4 {
  font-size: 180%;

  color: #fff;
}
.job span,
.education span {
  font-size: 160%;
  margin: 10px 0;
  display: inline-block;
}
.job p,
.education p {
  font-size: 160%;
  margin-top: 0;
}
#experience hr,
.education hr {
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 30px 0;
}
.portfolio-filter {
  text-align: center;
  margin-bottom: 15px;
}
.portfolio-filter button {
  border: 1px solid #000;
  padding: 5px 10px;
  background: rgb(35, 33, 33);
  color: #fff;
  font-size: 160%;
  margin: 0 5px;
  margin-top: 5px;
}
.portfolio-filter button:hover {
  cursor: pointer;
  background: rgba(35, 51, 62, 0.5);
  border-color: rgb(58, 0, 90);
}
.portfolio-filter .mixitup-control-active {
  background: rgb(15, 151, 248, 0.5);
  border-color: rgb(58, 0, 90);
}
/*
 portfolio 

 */
#portfolio .section-title h2 {
  margin-bottom: 20px;
}
.grid-portfolio-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: minmax(250px, auto);
  grid-gap: 10px;
}
.grid-portfolio-items:nth-child(5) {
  grid-column: 1/3;
  grid-row: 1/1;
}

.grid-portfolio-items .center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.uk-lightbox-toolbar {
  font-size: 200%;
}
.uk-lightbox {
  background: rgb(0, 0, 0, 0.9);
}
/* testimonials
 */
#testimonial {
  background: linear-gradient(rgb(15, 151, 248), #f6f6f6);
}
.testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.signature img {
  width: 55px;
  margin-bottom: 20px;
}
#testimonial p {
  margin: 30px 10px;
  font-size: 190%;
  color: rgb(49, 49, 49);
}
#testimonial span {
  font-size: 140%;
  color: rgb(49, 49, 49);
}
/* contact form
*/
#contact {
  background: linear-gradient(rgba(41, 52, 24, 0.8), rgba(12, 63, 71, 0.5));
}
.grid-contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.grid-contact-items:nth-child(1) {
  background: linear-gradient(rgb(43, 87, 115), rgb(15, 58, 96, 0.5));
  padding: 45px 30px;
}
.single-form input[type="text"],
.single-form input[type="email"],
.single-form textarea {
  width: 100%;
  border: 1px solid #fff;
  background: transparent;
  color: rgb(245, 241, 241);
  font-size: 140%;
  padding: 10px;
  margin: 10px 0;
}
.single-form-btn {
  text-align: right;
  margin-top: 15px;
}
.nested-grid-contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.nested-grid-contact-items {
  background: linear-gradient(rgb(43, 87, 115), rgb(15, 58, 96, 0.5));
  padding: 45px 30px;
}
.nested-grid-contact-items p {
  color: rgb(253, 251, 251);
  font-size: 160%;
}
/* footer */

footer {
  background: #222222;
  padding: 60px 0;
  text-align: center;
}
.social-icons {
  margin-bottom: 15px;
}
ul li {
  list-style: none;
  display: inline-block;
}
.social-icons ul li a ion-icon {
  color: rgb(243, 238, 238);
  font-size: 200%;
  border-right: 1px solid rgb(228, 221, 221);
  padding: 0 10px;
}
.social-icons ul li a ion-icon:hover {
  color: #ff2b4a;
}
.copy-right {
  font-size: 120%;
  color: rgb(245, 237, 237);
}
.totop {
  margin-top: 25px;
}
.totop .uk-totop {
  padding: 10px;
  color: rgb(182, 126, 126);
  transition: 0.5s;
  border: 1px solid rgb(69, 62, 62);
}
.totop .uk-totop:hover {
  background: rgb(191, 175, 175);
  color: #000;
}
.grid-experience-items,
.grid-education-items {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
